<div class="container">
    <div class="row">
        <div class="col-md-6 p-2 mb-5">
            <div class="card w-75 m-auto text-center">
                <i class="fas fa-assistive-listening-systems fa-size fa-green mb-4" [class.sound-height]="soundDetected=='yes'"></i>
                <div class="card-body text-center">
                    <h2>Sound Detector</h2>
                    <p class="card-text text-center">Some quick example text to build on the card title and make up
                        the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2 mb-5">
            <div class="card w-75 m-auto text-center">
                <i class="fas fa-tv  fa-size fa-live-color mb-4"></i>
                <div class="card-body text-center ">
                    <h2>Go Live</h2>
                    <p class="card-text text-center ">You can watch your baby by camera live stream when you <a
                            href="http://scope.eb2a.com/index.php?i=1" target="_blank">click here</a></p>
                </div>
            </div>
        </div>

    </div>


    
</div>