<section class="my-5">
    <div class="container">
        <div class="row">


            <div class="col-md-5 mb-5">

                <div class="photo">

                    <img class="img-fluid" src="../../assets/img/baby.png" />

                </div>

            </div>


            <div class="col-md-7 pt-5 allign-item-center ">

                <div class="contact-info px-5">

                    <h2 class="text-uppercase">BABY APP</h2>
                    <h4 class="mb-3">baby monitoring application</h4>

                    <p class="lead">It is an innovative, smart & protective Cradle System to nurtue an infant in an efficient way.
                        This system considers all the minute details required for the care & protection of the Baby in
                        the cradle.
                    </p>




                </div>

            </div>
        </div>
    </div>
</section>